<div class="card mb-4 box-shadow">
  <img class="card-img-top img-fluid" [src]="productItem.imageUrl" width="100%" alt="Card image cap">
  <div class="card-body">
    <div class="card-text">
      <strong>{{productItem.price |currency:'INR'}}</strong>
    </div>
    <strong class="d-inline-block">{{productItem.name}}</strong>
    <p class="card-text">{{productItem.description |slice:0:30}}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group ">
        <button type="button" class="btn btn-sm btn-primary prouct-btn " (click)="handelAddTocat()">Add TO Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary prouct-btn">View-Details</button>
      </div>
    </div>
  </div>
</div>

